/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */

.icon-20,
.icon-30,
.icon-46 {
  display: inline-block;
  background-size: cover;
  vertical-align: top
}

.bottom,
.container,
.copyright {
  overflow: hidden
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400
}

ul {
  list-style: none
}

button,
input,
select,
textarea {
  margin: 0
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

audio,
embed,
img,
object,
video {
  height: auto;
  max-width: 100%
}

iframe {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0;
  text-align: left
}

.icon-30 {
  height: .29rem;
  width: .29rem
}

.icon-20 {
  height: .2rem;
  width: .2rem
}

.icon-46 {
  height: .46rem;
  width: .46rem
}

.container {
  width: 7.5rem;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec2c24), color-stop(50%, #fc524b), to(#e01828));
  background: -webkit-linear-gradient(top, #ec2c24 0, #fc524b 50%, #e01828 100%);
  background: -o-linear-gradient(top, #ec2c24 0, #fc524b 50%, #e01828 100%);
  background: linear-gradient(to bottom, #ec2c24 0, #fc524b 50%, #e01828 100%);
  min-height: 100vh;
  position: relative
}

.container>* {
  position: relative;
  z-index: 10
}

.container>.snow {
  background-image: url(../images/snow.png);
  background-repeat: repeat-y;
  width: 7.5rem;
  background-size: cover;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0
}

.bottom,
.bottom .text .open-btn,
.header {
  background-repeat: no-repeat
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.header {
  background-image: url(../images/header@2x.png);
  background-size: 100%;
  width: 100%;
  height: 2.54rem
}

.bottom {
  background: #fecf2c;
  width: 7.5rem;
  /* height: 1.31rem; */
  position: fixed;
  bottom: 0
}
.bottom .bottom-txt {
  color: #ed3b3f;
  font-size: .36rem;
  font-weight: bold;
  width: 100%;
  line-height: 1rem;
  text-align: center;
}

.bottom .text {
  margin-top: .38rem;
  margin-left: 1.28rem
}

.bottom .text .text-load {
  line-height: .24rem;
  height: .24rem;
  font-size: .24rem;
  margin-bottom: .14rem;
  color: #facd72
}

.bottom .text .text-get {
  line-height: .28rem;
  height: .28rem;
  font-size: .28rem;
  font-weight: 900;
  color: #facd72
}

.bottom .text .open-btn {
  position: absolute;
  width: 1.32rem;
  height: .65rem;
  background-image: url(../images/open.png);
  background-size: contain;
  right: .4rem;
  top: .42rem
}

.bottom>div {
  color: #fff
}

.bottom.app {
  background-size: cover;
  height: 1.02rem
}

.bottom.app .text {
  display: none
}

.bottom.app .share-btn-box {
  height: 1.02rem;
  width: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.bottom.app .share-btn-box .btn-item {
  width: 50%;
  font-size: .36rem;
  text-align: center;
  font-weight: 600;
  height: 1.02rem;
  line-height: 1.02rem;
  color: #dd2520
}

.bottom.app .share-btn-box .btn-item:first-child {
  background-image: url(../images/btn1.png)
}

.bottom.app .share-btn-box .btn-item:last-child {
  background-image: url(../images/btn2.png)
}

/* .bottom.not-app {
  background-image: url(../images/bottom@2x.png);
  background-size: contain;
  height: 1.32rem
}

.bottom.not-app .share-btn-box {
  display: none
} */